/* Hide scrollbar for Chrome, Safari and Opera */
@media (max-width:576px){ #cartScrollElem::-webkit-scrollbar {
    display: none;
  } 
}

#cartScrollElem{
    max-height: 75vh;
}

  /* Hide scrollbar for IE, Edge and Firefox */
@media (max-width:576px){ #cartScrollElem {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /*Reduce contents window slightly on this size*/
    max-height: 67vh;

}}
